*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
    radial-gradient(circle at top right, rgba(255,255,255,0.12), transparent 40%),
    radial-gradient(circle at bottom left, rgba(255,255,255,0.08), transparent 40%),
    linear-gradient(135deg, #141414, #2b2b2b, #121212);
    padding: 25px;

    section{
        height: 100%;
        width: 430px;
        border-radius: 20px;
        margin: auto;
        box-shadow: 0px 0px 15px rgb(148, 140, 140);
        overflow: hidden;


        .allreels{
            height: 100%;
            width: 100%;
            overflow-y: auto;
            scroll-snap-type: y mandatory;
            scroll-behavior: smooth;
            scrollbar-width: none;

            .reel{
                height: 100%;
                width: 100%;
                position: relative;
                border-radius: 20px;
                overflow: hidden;
                scroll-snap-align: start;
                scroll-snap-stop: always;
                video{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
                .mute{
                    background-color: #807070;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    transition: 0.2s ease;
                    z-index: 2;//the GOAT at 2.50am 
                    i{
                        font-size: 1.3rem;
                        color: wheat;
                        pointer-events: none;
                    }
                    &:hover{
                    scale:0.9;
                    background-color: rgb(23, 193, 49);
                    }
                    &:active{
                        transform: scale(0.8);
                    }
                }
                
                .bottom{
                    padding: 15px 20px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.498));
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .user{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img{
                            height: 50px;
                            width: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                            cursor: pointer;
                        }
                        h4{
                            font-size: 1.3rem;
                            font-weight: 560;
                            cursor: pointer;
                            color: whitesmoke;
                        }
                        button{
                            padding: 5px 17px;
                            border: none;
                            border-radius: 10px;
                            font-size: 0.9rem;
                            font-weight: 100;
                            text-transform: uppercase;
                            letter-spacing: 0.1rem;
                            cursor: pointer;
                        }
                        button:active{
                            background: transparent;
                            color: white;
                            border: 2px solid black;
                        }
                    }
                    h3{
                        width: 85%;
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: whitesmoke;
                        line-height: 1.2;
                        letter-spacing: 0.03rem;
                    }

                }
                .right{
                    height: 100%;
                    width: 15%;
                    background-color: red;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background: transparent;

                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 30px;
                    justify-content: flex-end;
                    padding-bottom:35px;

                    div{
                        width: 50px;
                    }
                    h4{
                        font-size: 1.5rem;
                        font-weight: 600;
                        cursor: pointer;
                        color: white;
                        pointer-events: none;
                    }
                    h6{
                        font-size: 0.9rem;
                        color: white;
                        pointer-events: none;
                    }
                    .like{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 5px;
                        width: 30px;
                        h4{
                            font-size: 2.4rem;
                            font-weight: 550;
                        }
                        .love{
                            color: red;
                        }
                    }
                    .comment{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 5px;

                        h4{
                            font-size: 2.1rem;
                            font-weight: 600;
                        }
                    }
                    .repost{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 5px;
                        h4{
                            font-weight: 200;
                            font-size: 1.7rem;
                        }
                    }
                    .share{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 5px;
                        h4{
                            font-size: 2rem;
                            font-weight: 600;
                        }
                    }
                    .save{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 5px;
                        h4{
                            font-size: 1.7rem;
                        }
                    } 
                }
            }
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
}
@media(max-width:530px){
    main{
        padding: 0;
        section{
            width: 100%;
        }
    }
}